<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
</head>
<body>
<h1 align="center">欢迎光临瓦尔哈拉-众神管理系统</h1>
<h2 align="center">凡人，如果想查看众神系统 <a th:href="@{/logout}">退出</a></h2>
<hr>
    <h3>巨人族</h3>
    <ul>
        <li><a>伊米尔</a></li>
        <li><a >蒂阿兹</a></li>
        <li><a>斯卡娣</a></li>
    </ul>

    <h3>其他神祗</h3>
    <ul>
        <li><a>女神格欧费茵</a></li>
        <li><a>瓦利</a></li>
        <li><a>林德</a></li>
    </ul>

    <h3>主神</h3>
    <ul>
        <li><a>奥丁</a></li>
        <li><a>弗丽嘉</a></li>
        <li><a >索尔</a></li>
    </ul>
</body>
</html>